.ItemPopover {
  z-index: 9999;
  max-width: 450px;
  min-width: 280px;
  padding: 10px;
  border: 4px solid $light-blue;
  background-color: #eee;
  box-shadow: 0 0 2px 2px darken($dark-blue, 30%);

  h4 {
    margin: 0;
    line-height: 1.4em;
  }

  p {
    font-family: $base-font-stack;
    line-height: 1.6em;
    font-size: 14px;
    padding: 0;
    margin: 5px 0;
  }

  .avatar {
    border-radius: 2px;
    border: 2px solid $light-blue;
    background-image: radial-gradient(#eee, #888);
    margin: 0 10px 0 0;
  }

  .item-description {
    p {
      padding: 0;
      margin: 0;
      display: inline;
    }
  }
}
