// App-wide colors
$dark-bg: #232323;
$dark-green: #2c3634;
$light-green: #3e5154;
$selection-green: #137752;
$blue: #3772FF;
$white: #eee;
$yellow: #ffe000;
$light-blue: #565b73;
$darker-blue: #495380;
$dark-blue: #1f243c;

// Used to arrange primary UI panes
$launcher-controls-height: 210px;

// Control column width for readability
$max-column-width: 720px;
